node_modules
.next
out
dist
build
*.log
.DS_Store
.env
.env.local
.env.*.local

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations

/lib/generated/prisma

# Testing
test-videos
*.webm

# Environment variable files with secrets
upload-env-to-vercel.ps1
vercel-env.txt

.vercel
